*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 
}

/*titulo*/

div#titulo{
	width:100%;
	margin-top:100px;
}

p#header{
	text-align: center;
	font-size: 2.5em;
	color:#9a9a9a;
}

p#subheader{
	text-align: center;
	color:#cecece;
	margin-top:20px;
	font-size: 1.3em;
}

body{
	background-color: #FFFDFB ;
}

div.centrador{
	position: absolute;
	top: 35%;
	left: 39%;  
}

div.contenedor{
	width: 200px;
	height: 230px;
	-webkit-transition: height .4s;
	display: inline-block;
}

div#uno{
	background-color: #2780F9;
	display: inline-block;
	text-align: center;
}

div#dos{
	background-color:#F74747 ;
	display: inline-block;
	text-align: center;
}

div#tres{
	background-color: #5EC45E;
	display: inline-block;
	text-align: center;
}

div#cuatro{
	background-color:#F3E162 ;
	display: inline-block;
	text-align: center;
}

img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(255,255,255,.15);
	width:40px;
	padding:20px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}


a.texto{
	font-size: 1.2em;
	color:black;
	padding-top:10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

div.contenedor:hover{
	height:250px;
}

div.contenedor:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}



nav {
	margin: 27px auto 0;
	float: right;
	position: relative;
	width: 870px;
	height: 50px;
	background-color: white;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: black;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
	position: relative;
}
a:nth-child(2) {
	width: 110px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}

h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}














































































